<div class="banner">
  <div class="slider">
    <div class="callbacks_container">
      <ul class="rslides" id="slider3">
        <li>
          <div class="slider-img">
            <img src="assets/images/banner1.png" class="img-responsive" alt="Fantasy World">
          </div>

          <div class="slider-info">
            <h4>I will bring them an opera of death</h4>
            <p>World building is component of fantasy </p>
            <a href="#about" class="hvr-shutter-in-horizontal scroll">Read More</a>
          </div>
        </li>
        <li>
          <div class="slider-img">
            <img src="assets/images/banner2.jpg" class="img-responsive" alt="Fantasy World">
          </div>

          <div class="slider-info">
            <h4>Death is like the wind - always by my side</h4>
            <p>World building is component of fantasy </p>
            <a href="#about" class="hvr-shutter-in-horizontal scroll">Read More</a>
          </div>
        </li>
        <li>
          <div class="slider-img">
            <img src="assets/images/banner3.jpg" class="img-responsive" alt="Fantasy World">
          </div>

          <div class="slider-info">
            <h4>No human is perfect, but I am not human</h4>
            <p>World building is component of fantasy </p>
            <a href="#about" class="hvr-shutter-in-horizontal scroll">Read More</a>
          </div>
        </li>
      </ul>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
