<div class="register">
  <form class="register-box">
    <h1>Register</h1>
    <div class="textbox row">
      <i class="fas fa-headset col-md-2"></i>
      <input type="text" placeholder="Name" class="col-md-10">
    </div>
    <div class="textbox row">
      <i class="fas fa-user col-md-2"></i>
      <input type="text" placeholder="Username" class="col-md-10">
    </div>
    <div class="textbox row">
      <i class="fas fa-envelope col-md-2"></i>
      <input type="email" placeholder="Email" class="col-md-10">
    </div>
    <div class="textbox row">
      <i class="fas fa-lock col-md-2"></i>
      <input type="password" placeholder="Password" class="col-md-10">
    </div>
    <input type="submit" value="Sign up" class="btn-submit col-md-12">
  </form>
</div>
