<!-- about -->
<div class="about" id="about">
  <div class="container">
    <div class="col-md-4 agileits_about_left">
      <h3 class="w3l_head">About Us</h3>
      <p class="w3ls_head_para">who we are</p>
    </div>
    <div class="agileits_banner_bottom_grids">
      <div class="col-md-6 agileits_banner_bottom_grid_l">
        <h4>What is League of Legends?</h4>
        <p><i>League Of Legend - is not only a personal game.</i>League of Legends is a fast-paced,
          competitive online game that blends the speed and intensity of an RTS with RPG elements. Two teams of powerful
          champions, each with a unique design and playstyle, battle head-to-head across multiple battlefields and game
          modes. With an ever-expanding roster of champions, frequent updates and a thriving tournament scene, League of
          Legends offers endless replayability for players of every skill level.</p>
      </div>
      <div class="col-md-6 agileits_banner_bottom_grid_r">
        <div class="agileits_banner_btm_grid_r">
          <img src="assets/images/ab.jpg" alt=" " class="img-responsive">
          <div class="agileits_banner_btm_grid_r_pos">
            <img src="assets/images/ab1.jpg" alt=" " class="img-responsive">
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<!-- //about-bottom -->
