<div class="login">
  <form class="login-box">
    <h1>Login</h1>
    <div class="textbox row">
      <i class="fas fa-user col-md-2"></i>
      <input type="text" placeholder="Username" class="col-md-10">
    </div>
    <div class="textbox row">
      <i class="fas fa-lock col-md-2"></i>
      <input type="password" placeholder="Password" class="col-md-10">
    </div>
    <input type="submit" value="Sign in" class="btn-submit col-md-12">
    <a routerLink="/register">Don't have an account ?</a>
  </form>
</div>
